<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="css/public.css" />
	<link rel="stylesheet" type="text/css" href="css/login.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>

<body>
	<div id="app">
		<!-------------------login-------------------------->
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="img/logo.png" /></a></h1>
					<div class="fr clearfix" id="top1">
						<p v-if="loginCheck" class="fl">
							<a href="login.html">登录</a>
							<a href="reg.html">注册</a>
						</p>
						<p v-else class="fl">
							欢迎您,{{username}}
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：干花花瓶" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png" /></a>
							<a href="#" class="er1"><img src="img/ewm.png" /></a>
							<a href="cart.html"><img src="img/gwc.png" /></a>
							<p><a href="#"><img src="img/smewm.png" /></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">商城首页</a></li>
					<li>
						<a href="proList.html">爆款推荐</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="proList.html">
									<dl>
										<dt><img src="img/nav1.jpg" /></dt>
										<dd>装饰摆件</dd>
									</dl>
								</a>
								<a href="proList.html">
									<dl>
										<dt><img src="img/nav2.jpg" /></dt>
										<dd>布艺软饰</dd>
									</dl>
								</a>
								<a href="proList.html">
									<dl>
										<dt><img src="img/nav3.jpg" /></dt>
										<dd>墙饰挂壁</dd>
									</dl>
								</a>
								<a href="proList.html">
									<dl>
										<dt><img src="img/nav6.jpg" /></dt>
										<dd>蜡艺香薰</dd>
									</dl>
								</a>
								<a href="proList.html">
									<dl>
										<dt><img src="img/nav7.jpg" /></dt>
										<dd>创意家居</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
		<div class="login">

			<form @submit.prevent="handleSubmit">

				<p style="margin-top: 30px">用户登录</p>
				<p><input type="text" v-model="login.loginName" placeholder="昵称/邮箱/手机号"></p>
				<p><input type="password" v-model="login.password" placeholder="密码"></p>
				<div class="msg-warn hide" style="margin-top: 10px" v-show="loginError"><b></b>登录失败,账号或密码错误</div>

				<p class="txtL txt"><input class="code" type="text" v-model="checkCode" @blur="checkCode1"
						placeholder="验证码">
					<!-- <img src="img/temp/code.jpg"> -->
					<img style="width: 97px;height: 42px;display: inline-block"
						onclick="this.src='http\:\/\/127.0.0.1\:9999\/captcha\/captchaImage?type=math'"
						src="http://127.0.0.1:9999/captcha/captchaImage?type=math" alt="验证码">

				</p>
				<div class="msg-warn hide" style="margin-top: 10px" v-show="CheckCodeError"><b></b>登录失败,验证码错误</div>

				<p><input type="submit" name="" value="登  录"></p>
				<p class="txt"><a class="" href="reg.html">免费注册</a><a href="forgetPwd1.html">忘记密码？</a></p>

			</form>
		</div>
	</div>
</body>
<script>

	axios.defaults.withCredentials = true
	var vm = new Vue({
		el: '#app',
		data: {
			loginError: false,
			CheckCodeError: false,
			login: {
				loginName: '',
				password: '',

			},
			checkCode: '',
			username: '',
			loginCheck: true


		},
		mounted() {
			console.log("检测登录")
			axios({
				method: 'get',
				url: 'http://192.168.1.142:9999/user/checkLogin',
				headers: {
					"Content-Type": "application/json"
				},

			}).then((result) => {

				// 获取到数据后,去设置登录

				let d = result.data.username;

				console.log(result)

				if (result.data == "") {
					console.log("未登录")
				} else {

					this.username = d;
					this.loginCheck = false;
				}


			}).catch((err) => {

				console.log("未获取到数据")

			});

		},
		methods: {
			handleSubmit() {

				if (this.CheckCodeError == false) {
					console.log("登录");

					var login = JSON.stringify(this.login);

					axios({
						method: 'post',
						url: 'http://127.0.0.1:9999/user/userLogin',
						headers: {
							"Content-Type": "application/json"

							//	"Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"
						},

						data: login
					}).then((result) => {

						// 获取到数据后,去设置登录
						if (result.data == "") {
							//未登录;
							this.loginError = true;
						} else {
							//跳转页面
							window.location.href = "index.html";

						}



					}).catch((err) => {



					});

				} else {
					console.log("请输入正确的验证码");
				}
			},
			checkCode1() {

				axios({
					method: 'get',
					url: "http://127.0.0.1:9999/captcha/checkCode",
					headers: {
						"Content-Type": "application/x-www-form-urlencoded"
					},

				}).then((result) => {

					if (result.data == this.checkCode) {
						this.CheckCodeError = false;
					} else {
						this.CheckCodeError = true;

					}

				})

			}
		}

	})
</script>
<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/public.js" type="text/javascript" charset="utf-8"></script>

</html>